<app-navbar></app-navbar>
<div *ngFor="let p of productos">
    <div class="card" style="width: 18rem;">
        <img src="{{ Url+'/product/getimage/'+p.image }}" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ p.product }}</h5>
          <p class="card-text">{{ p.description }}</p>
          <span>U$ {{ p.price }}</span><br>
          <a (click)="agregarCarrito(p)" class="btn btn-primary">Agregar al Carrito</a>
        </div>
      </div>

</div>
